@media(max-width:1900px)
{
    .subheading
    {
        width: 100%;
        margin: 0 12px 0px;
    }
    section.blog-section .subheading
    {
        margin: 0 0 14px;
    }
}
@media(max-width:1600px)
{
    .subheading
    {
        width: 100%;
        margin: 0 12px 0px;
    }
    section.blog-section .subheading
    {
        margin: 0 0 14px;
    }
}
@media(max-width:1536px)
{
    .subheading
    {
        width: 100%;
        margin: 0 12px 0px;
    }
    section.blog-section .subheading
    {
        margin: 0 0 14px;
    }
}
@media(max-width:768px)
{
    section.homebanner .banner-content h1
    {
        font-size: 40px;
    }
    .subheading
    {
        width:100%;
        font-size: 24px;
        margin:0px;
        padding-left: 15px;
    }
    .links-button
    {
        margin-bottom:20px;
    }
    .m20
    {
        margin-bottom:20px;
    }
    .cta-banner-content .title
    {
        font-size: 30px;
    }
    .explorebrands-column img
    {
        max-width: 100px;
    }
    .banner-content h1
    {
        font-size: 30px;
    }
    .banner-content p
    {
        font-size: 18px;
    }
    .subheading
    {
        font-size: 19px;
    }
    section.learnpublishing-section .m20
    {
        margin:0 0 20px 0;
    }
}
@media(max-width:576px)
{
    .core-menu 
    {
        width: 100%;
    }
    .toggle3 
    {
        display: flex;
        justify-content: space-between;
        padding: 20px 3px 16px;
        border-bottom: 2px solid #00b8b0;
        display: none;
    }
    .toggle3 a
    {
        text-decoration: none;
        text-transform: capitalize;
        color:#183642;
    }
    .toggle3.show4
    {
        display: block !important;
    }
    .toggle3-list
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .menu-list2
    {
        display: block;
        height:0;
        overflow: hidden;
        transition:0.3s;
    }
    .menu-list2.show2
    {
        height:600px;
    }
    .mobile-menu
    {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        background:#fff;
        z-index: 100;
        padding: 10px 14px;
        display: block;
    }
    .mobile-menu nav
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .mobile-menu nav ul
    {
        margin-top:20px;
        padding:0px;
    }
    .mobile-menu nav ul li
    {
        list-style: none;
        margin-bottom:10px;
    }
    .mobile-menu nav ul li a
    {
        font-family: 'DaytonaPro-Light';
        color:#183642;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
    }
    .desktop-menu2
    {
        display: none;
    }
    .collapse-menu2
    {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .collapse-menu2.show
    {
        display: block;
        width: 100%;
        height: 100%;
    }
    .fixed-menu
    {
        background-color: #fff;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    a.logo img 
    {
        width: 200px;
    }
    .toggle2 
    {
        display: block;
    }
    .menu-list2
    {
        position: relative;
        width: 100%;
        display: block;
        height: 0;
        overflow: hidden;
    }
    section.homebanner
    {
        height: 550px;
        padding: 0px;
    }
    section.homebanner .banner-content h1
    {
        font-size: 31px;
    }
    .subheading
    {
        width:100%;
        font-size: 20px;
        margin: 0px;
        padding-left: 15px;
    }
    .m20
    {
        margin-bottom:20px;
    }
    .links-button
    {
        margin-bottom:20px;
    }
    .cta-banner-content .title
    {
        font-size: 36px;
    }
    section.initiative-section .subheading
    {
        padding: 0 16px;
    }
    .view-search
    {
        float: left;
        margin-bottom:20px;
    }
    .view-search a
    {
        font-size: 20px;
    }
    .socialbg-icon
    {
        justify-content: left;
    }
    .social-icon1
    {
        max-width: 60px;
        width: 60px;
    }
    section.learnpublishing-section .m20
    {
        margin:0 0 20px 0;
    }
    section.booksale-section .m20
    {
        margin:0 0 20px 0;
    }
}