*
{
    margin:0px;
    padding:0px;
}
@font-face 
{
    font-family: 'DaytonaPro-Regular';
    src: url('../font/Daytona/DaytonaPro-Regular.ttf') format('truetype');
}
@font-face 
{
    font-family: 'DaytonaPro-Light';
    src: url('../font/Daytona/DaytonaPro-Light.ttf') format('truetype');
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'DaytonaPro-Regular';
    font-weight: 500;
}
p
{
    font-family: 'DaytonaPro-Light';
    color:#444;
}
a
{
    font-family: 'DaytonaPro-Regular';
}
section
{
    padding:50px 0;
}

/*menu*/

a.logo img
{
    width: 240px;
}
header.desktop-menu
{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    z-index: 100;
    padding:10px 0;
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0.3125rem solid #cedbe0;
    background: #fff;
}
header.desktop-menu nav
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
header.desktop-menu nav ul
{
    margin:0px;
}
header.desktop-menu nav ul li
{
    display: inline-block;
    margin-right:20px;
}
header.desktop-menu nav ul li a
{
    list-style: none;
}
.search-menu
{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
}
.search-menu p
{
    margin-bottom:0px;
    margin-left:7px;
    color: #6F6C6C;
    text-transform: capitalize;
    font-size: 15px;
}
.toggle-menu
{
    width: 100%;
    margin-top: 23px;
}
.toggle
{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #444;
    padding: 5px 15px;
    cursor: pointer;
}
.toggle i
{
    color:#6F6C6C;
    margin-right:7px;
}
.toggle p
{
    margin-bottom:0px;
    color:#6F6C6C;
    text-transform: capitalize;
    font-size: 14px;
}
.toggle-menu
{
    position: relative;
    display: flex;
    align-items: center;
}
.toggle .menu-list
{
    position: absolute;
    left:0;
    top: 32px;
    width: 210px;
    height: 0;
    overflow: hidden;
    background: #fff;
    transition: 0.3s;
    display: none;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.04), 0 6.25rem 3.125rem 0 rgba(0, 0, 0, 0.03);
}
.toggle .menu-list.show
{
    height:537px;
}
.toggle .menu-list::-webkit-scrollbar
{
    width: 7px;
}
.toggle .menu-list ul li
{
    position: relative;
    display: block;
    padding-left: 12px;
    margin-bottom: 7px;
}
.toggle .menu-list ul li i
{
    color:#444;
    transform: rotate(313deg);
    margin-left:7px;
    font-size: 13px;
}
.toggle .menu-list ul li:before
{
    content:'';
    position: absolute;
    left:0;
    top: 56%;
    transform: translateY(-50%);
    width: 5px;
    height: 15px;
    background: #000;
}
.toggle .menu-list ul li a
{
    text-decoration: none;
    color:#444;
    text-transform: capitalize;
    font-size: 13px;
}
.toggle:hover .menu-list
{
    display: block;
}
.toggle:hover
{
    background:#6F6C6C;
}
.toggle:hover p
{
    color:#fff;
}
.toggle:hover i
{
    color: #dbdbdb;
}
.toggle .menu-list ul
{
    padding-left: 18px;
}
.toggle .menu-list ul:first-child
{
    margin-top: 15px;
}
.seperator1
{
    border-top: 1px dashed;
    width: 50px;
    margin: 14px 18px 10px;
}
.toggle-menu .menu2 ul li
{
    margin-right: 8px;
}
.toggle-menu .menu2 ul li a
{
    text-decoration: none;
    text-transform: capitalize;
    color:#183642;
    font-family: 'DaytonaPro-Light';
    padding: 12px 13px 17px;
    font-size: 15px;
}
.toggle-menu .menu2 ul li a:hover
{
    background: #00b8b0;
    color: #fff;
}
header.desktop-menu.desktop-menu2
{
    border-color:#00b8b0;
}
.toggle2
{
    display: none;
}
.mobile-menu
{
    display: none;
}
.menu-list2
{
    display: none;
}

/*home banner*/

section.homebanner
{
    position: relative;
    height:500px;
    background: url('../images/banner/1.jpg') no-repeat;
    background-size: cover;
}
.banner-content h1
{
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 20px 16px;
    color:#fff;
    font-size: 52px;
    width: fit-content;
}
.banner-content p
{
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px 14px;
    font-weight: 500;
    font-size: 20px;
    color:#fff;
    width: fit-content;
    max-width: 750px;
}
.absolute-center
{
    position: absolute;
    left:50%;
    top: 59%;
    transform: translate(-50%,-50%);
}
.button1 a
{
    background:#025e8d;
    color:#fff;
    border-radius: 6px;
    padding:13px 20px;
    text-decoration: none;
}

/*white-section*/

section.white-section
{
    position: relative;
}
.column
{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    padding: 25px 24px 32px;
    flex-direction: column;
    border-bottom-left-radius: 15px;
}
.column h3
{
    color:#fff;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom:20px;
}
.column p
{
    color:#fff;
}
.background-red
{
    background:rgb(190, 24, 24)
}
.background-yellow
{
    background:rgb(199, 83, 1);
}
.background-lightblue
{
    background:rgb(0, 112, 168);
}
.background-darkblue
{
    background:rgb(1, 50, 75);
}
.column .icon
{
    position: absolute;
    bottom: 14px;
    right: 15px;
}
.column .icon i
{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 14px;
}
.column .icon.icon1 i
{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 14px;
    transform: rotate(313deg);
}
.gray-section
{
    background:#ebf1f5;
}
.links-buttonflex
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: spa;
}
.links-button
{
    width: fit-content;
    margin-right: 10px;
}
.links-button a
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid #6F6C6C;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: capitalize;
    color:#6F6C6C;
    transition: all 0.3s ease;
    font-size: 15px;
}
.links-button a:hover
{
    background:#6F6C6C;
    color:#fff;
}
.links-button a i
{
    margin-left: 7px;
    transform: rotate(-44deg);
}

/*cta-banner1*/

section.cta-banner1
{
    position: relative;
    background:url('../images/banner/cta-banner.jpg') no-repeat;
    background-size: cover;
}
.cta-banner-content .title
{
    background: rgba(0, 0, 0, 0.6);
    padding: 3px 20px 16px;
    color:#fff;
    font-size: 52px;
    width: fit-content;
    font-weight: 400;
}
.cta-banner-content p
{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px 14px;
    font-weight: 500;
    font-size: 20px;
    color:#fff;
    width: fit-content;
    max-width: 750px;
}
.button2 a
{
    transition: all 0.3s ease;
}
.button2 a:hover
{
    background: #fff;
    color:#025e8d;
}

/*initiative-section*/

section.initiative-section
{
    position: relative;
    overflow: hidden;
}
.initiative-column
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ebf1f5;
}
.initiative-body
{
    padding:15px 20px;
}
.initiative-body p
{
    font-family: 'DaytonaPro-Light';
    color:#444;
}
.subheading
{
    font-weight: normal;
    color:#486a7e;
    font-size: 35px;
    text-transform: capitalize;
    border-bottom:0.1875rem solid #dfedf2;
    padding: 0 0 18px;
    width: 1115px;
    margin: 0 auto 10px;
}
.initiative-heading
{
    font-family: 'DaytonaPro-Regular';
    color:#444;
    font-size: 21px;
}

/*partnership-section*/

section.partnership-section
{
    position: relative;
    overflow: hidden;
}
section.partnership-section .subheading
{
    border-bottom: 0.1875rem solid #fff;
    margin-bottom:19px;
}
section.partnership-section .blue-text
{
    margin-bottom:0px;
}
.partnership-column
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    position: relative;
}
.partnership-body
{
    padding: 15px 20px 50px;
}
.initiative-body p
{
    font-family: 'DaytonaPro-Light';
    color:#444;
}
.partnership-heading
{
    font-family: 'DaytonaPro-Regular';
    color:#444;
    font-size: 21px;
}
.right-icon
{
    position: absolute;
    right: 24px;
    bottom: 15px;
}
.right-icon i
{
    width: 30px;
    height: 30px;
    border:1px solid #1B778F;
    color:#1B778F;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.partnership-column:hover .right-icon i
{
    background:#1B778F;
    color:#fff;
}

/*blog section*/

section.blog-section
{
    position: relative;
    overflow: hidden;
}
section.blog-section .m20
{
    margin:0 0 20px;
}
section.blog-section .mt20
{
    margin:20px 0 0;
}
.blog-column
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ebf1f5;
    padding: 0 0 19px;
    border-bottom-left-radius: 20px;
}
.blog-body
{
    padding:15px 20px;
}
.blog-body p
{
    font-family: 'DaytonaPro-Light';
    color:#444;
    font-size: 14px;
    margin-bottom: 10px;
}
.blog-heading
{
    font-family: 'DaytonaPro-Regular';
    color:#1B778F;
    font-size: 19px;
}
.blog-footer
{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.blog-icon
{
    border:1px solid #486a7e;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.blog-section.blog-section2 .subheading
{
    border-bottom: 0.1875rem solid #fff;
}
.blog-icon h3
{
    color:#486a7e;
    text-transform: capitalize;
    margin-bottom:0px;
    font-size: 20px;
}
.blog-text
{
    margin-left:15px;
}
.blog-text p
{
    color:#6F6C6C;
    text-transform: capitalize;
    margin-bottom:0px;
    font-size: 15px;
}
.blog-text h5
{
    color:#6F6C6C;
    text-transform: capitalize;
    font-size: 14px;
}
.view-search
{
    margin-top:20px;
    float: right;
    display: flex;
    align-items: center;
}
.view-search a
{
    color:#1B778F;
    font-size: 18px;
}
.view-search i
{
    color:#1B778F;
    margin-left: 6px;
    font-size: 12px;
    margin-top: 4px;
}
.blog-header img 
{
    width: 100%;
}

/*social-background*/

section.social-background
{
    position: relative;
    background:#ebf1f5;
    overflow: hidden;
}
section.social-background .subheading
{
    border-color: #fff;
    margin-bottom: 29px;
}
.socialbg-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    background:#fff;
}
.socialbg-icon i
{
    color:#fff;
    padding: 0 16px;
    font-size: 26px;
}
.social-icon1
{
    background:#025e8d;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.social-icon1txt
{
    padding: 20px 11px;
}
.social-icon1txt p
{
    margin:0px;
    font-size: 16px;
    font-family: 'DaytonaPro-Regular';
    font-weight: 600;
    color: #1B778F;
}
.sc-links a
{
    text-decoration: none;
    color:#1B778F;
}
.sc-links a:hover .social-icon1txt p
{
    text-decoration: underline;
}
.sc-links a:hover .social-icon1
{
    background:#013c5b;
}
.sc-links 
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.corporate-button a
{
    border-radius:7px;
    border:1px solid #fff;
    padding:10px 14px;
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s ease;
}
.corporate-button a:hover
{
    background:#fff;
    color:#1B778F;
}
.corporate-button a i 
{
    margin-left: 7px;
    transform: rotate(-44deg);
    color: #fff;
}
.corporate-button a:hover i
{
    color:#1B778F;
}

/*footer*/

footer
{
    position: relative;
    background:#183642;
}
.upper-footer
{
    padding:50px 0;
}
.footer-widget
{
    margin-bottom:25px;
}
.footer-widget h5
{
    color:#fff;
    font-size: 18px;
}
.footer-widget h5 a
{
    text-decoration: none;
    color:#fff;
}
.footer-widget h5.shop
{
    margin-top:20px;
}
.footer-menu ul
{
    padding:0px;
}
.footer-menu ul li
{
    list-style: none;
    margin-bottom: 10px;
}
.footer-menu ul li a
{
    text-decoration: none;
    color:#cedbe0;
    font-size: 15px;
}
.social-icon 
{
    float: right;
}
.social-icon ul
{
    padding:0px;
}
.social-icon ul li
{
    list-style: none;
    display: inline;
    margin-right:20px;
}
.social-icon ul li i
{
    color:#8faec1;
}
.footer-details h6
{
    color:#cedbe0;
}
.footer-details p
{
    color:#cedbe0;
}
.seperator
{
    border-top:1px solid #cedbe0;   
    margin-bottom:22px;
}
.bottom-footer
{
    border-top:1px solid #486a7e;   
    padding:10px 0;
}
.footerbottom-links ul
{
    padding:0px;
    margin:0px;
}
.footerbottom-links ul li
{
    display: inline-block;
    margin-right:20px;
    margin-bottom: 10px;
}
.footerbottom-links ul li:last-child
{
    margin-right:0px;
}
.footerbottom-links ul li a
{
    text-decoration: none;
    color:#cedbe0;
    transition: 0.3s;
    font-size: 14px;
    text-transform: capitalize;
}
.footerbottom-links ul li a:hover
{
    text-decoration:underline;
    color:#fff;
}
.footerbottom-links ul li:last-child
{
    margin-right:0px;
}
.footer-details
{
    margin-bottom: 32px;
}

/*commonbanner*/

section.commonbanner
{
    position: relative;
    height: 422px;
    background:url('../images/banner/2.jpg') no-repeat;
    background-size: cover;
}

/*explorebrands-section*/

section.explorebrands-section
{
    position: relative;
    padding-bottom: 15px;
}
.explorebrands-column
{
    margin-bottom:20px;
}
section.explorebrands-section .subheading
{
    margin: 0 0 10px 0;
}

/*product-section*/

section.product-section
{
    position: relative;
    background:#ebf1f5;
}
section.product-section .subheading
{
    border-color: #fff;
    margin: 0 0;
}
section.product-section .m20
{
    margin:0 0 20px;
}
.product-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    background:#fff;
    padding-top: 14px;
    border-bottom-left-radius: 20px;
}
.product-column a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    background:#fff;
    padding-bottom: 37px;
    padding-top: 37px;
    border-bottom-left-radius: 20px;
}
.product-column svg
{
    max-height: 6.25rem;
    max-width: 6.25rem;
}
.product-column svg path 
{
    fill: #1B778F;
}
.product-column a .product-footer
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 37px;
}
.product-column:hover a .product-icon
{
    background:#1B778F;
}
.product-column:hover a .product-icon i
{
    color:#fff;
}
.product-column a
{
    transition: 0.3s ease;
    text-decoration: none;
    color:#1B778F;
}
.product-column a .product-footer .product-icon
{
    width: 30px;
    height: 30px;
    border: 1px solid #1B778F;
    color: #1B778F;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.load-button
{
    width: fit-content;
    display: block;
    margin: auto;
}
.load-button a
{
    border: 1px solid #1B778F;
    border-radius: 6px;
    text-decoration: none;
    padding: 13px 55px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-button a:hover
{
    background:#1B778F;
    color:#fff;
}
.plusicon
{
    font-size: 20px;
}
.load-button a i
{
    margin-right:5px;
}
.mlist ul
{
    padding:0px;
}
.mlist ul li
{
    display: flex;
    align-items:center;
    list-style: none;
    margin-bottom:10px;
}
.mlist ul li i
{
    background:#ebf1f5;
    border-radius: 100px;
    width:30px;
    max-width:30px;
    min-width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    color:#486a7e;
}
.textinfo
{
    color:#486a7e;
    font-weight: 600;
}

/*commonbanner2*/

section.commonbanner.commonbanner2
{
    position: relative;
    height: 422px;
    background:url('../images/banner/3.jpg') no-repeat;
    background-size: cover;
}
.coreist
{
    position: relative;
}
.coreist h3
{
    margin-bottom:20px;
    font-size: 23px;
}
.coreist:before
{
    content:'';
    position: absolute;
    left: 2px;
    top: 40px;
    width:1px;
    height: 84%;
    background:#cedbe0;
}
.coreist ul
{
    padding: 0px 20px;
}
.coreist ul li
{
    margin-bottom: 10px;
    list-style: none;
}
.coreist ul li a
{
    text-decoration: none;
    color:#1B778F;
    font-family: 'DaytonaPro-Light';
}

/*openaccess-section*/

section.openaccess-section
{
    position: relative;
}
section.openaccess-section .subheading
{
    border-color:#fff;
    margin-bottom: 15px;
}
.openaccess-column
{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    background:#025e8d;
    padding: 20px 20px 30px;
    border-bottom-left-radius: 20px;
    transition: 0.3s;
}
.openaccess-column h3
{
    color:#fff;
    font-size: 23px;
}
.openaccess-column p
{
    color:#fff;
    margin-top: 8px;
    margin-bottom: 46px;
}
section.blog-section .m20
{
    margin:0 0 20px;
}
.openaccess-column .right-icon i
{
    color:#fff;
    border-color: #fff;
}
.openaccess-column:hover .right-icon i
{
    background:#fff;
    color:#1b778f;
}
.openaccess-wrapper
{
    display: flex;
    flex-direction: column;
    height:100%;
}
.openaccess-wrapper a
{
    text-decoration: none;
    height:100%;
}

/*researchinitiative-section*/

section.researchinitiative-section
{
    position: relative;
}
.researchinitiative-wrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    background:#ebf1f5;
    padding: 20px 20px 30px;
}
.researchinitiative-wrapper a
{ 
    text-decoration: none;
    height:100%;
}
.researchinitiative-column
{
    display: flex;
    flex-direction: column;
    height:100%;
}
.researchinitiative-column h3
{
    color:#444;
    font-size: 20px;
}
.researchinitiative-column p
{
    margin-top: 8px;
    margin-bottom: 46px;
}
.researchinitiative-column:hover .right-icon i
{
    background:#fff;
    color:#1b778f;
}

/*whitepapers-section*/

section.whitepapers-section
{
    position: relative;
}
.whitepapers-slider .owl-stage
{
    display: flex;
    height:100%;
}
.whitepapers-slider .item
{
    display: flex;
    height:100%;
}
.whitepapers-column
{
    background:#ebf1f5;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    height:100%;
}
.whitepapers-column h3
{
    font-size: 20px;
}
.whitepapers-column p
{
    margin-top: 8px;
    margin-bottom: 46px;
}
.whitepapers-slider .owl-dots 
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.whitepapers-slider .owl-dot
{
    border:1px solid #486a7e !important;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}
.whitepapers-slider .owl-dot.active 
{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #486a7e !important;
}

/*readypublish-section*/

section.readypublish-section
{
    position: relative;
    background:#ebf1f5;
}
section.readypublish-section .subheading
{
    border-color: #fff;
}
.readypublish-column p
{
    margin-top: 8px;
    margin-bottom: 46px;
}
.readypublish-slider .owl-stage
{
    display: flex;
    height:100%;
}
.readypublish-slider .item
{
    display: flex;
    height:100%;
}
.readypublish-column
{
    background:#fff;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 24px;
    transition: 0.3s;
}
.readypublish-column:hover .right-icon i
{
    background:#1B778F;
    color:#fff;
}
.readypublish-slider .owl-dots 
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.readypublish-slider .owl-dot
{
    border:1px solid #486a7e !important;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}
.readypublish-slider .owl-dot.active 
{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #486a7e !important;
}
.readypublish-slider .right-icon i
{
    transform: rotate(313deg);
}
.readypublish-logos
{
    padding: 5px 0 0;
}
.readypublish-logos img
{
    max-width: 110px;
    margin: auto;
}
section.bg-white.social-background .socialbg-icon
{
    background:#ebf1f5;
}

/*learnmore-section*/

section.learnmore-section
{
    position: relative;
}
section.learnmore-section .blog-header img
{
    height: 240px;
    object-fit: cover;
}
section.learnmore-section .blog-column
{
    background: #fff;
}
section.gray-section.blog-section.learnmore-section .subheading
{
    border-color: #fff;
    margin: 0 0 25px;
}

/*commonbanner3*/

section.commonbanner3
{
    position: relative;
    height: 422px;
    background:url('../images/banner/4.jpg') no-repeat;
    background-size: cover;
}
section.commonbanner3 .absolute-center
{
    top:84%;
}
.publish-wrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    padding: 19px 0px 34px;
}
.publish-wrapper a
{
    display: flex;
    flex-direction: column;
    height:100%;
    text-decoration: none;
}
.publish-column
{
    display: flex;
    flex-direction: column;
    height:100%;
    border-bottom-left-radius: 21px;
    padding: 50px 20px 34px;
    transition: 0.3s;
}
.publish-column .right-icon
{
    right: 37px;
    bottom: 50px;
}
.publish-column .right-icon i
{
    border-color:#fff;
    color:#fff;
}
.publish-column:hover .right-icon i
{
    background:#fff;
    color:#025e8d;
}
.publish-column p
{
    color:#fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom:0px;
}
.backgrdound-green
{
    background:#84bd00;
}
.backgrdound-lightblue
{
    background: #0094b3;
}
.backgrdound-darkblue
{
    background: #025e8d;
}

/*learnpublishing-section*/

section.learnpublishing-section
{
    position: relative;
}
.learnpublishing-column
{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    padding:20px;
    background:#fff;
    border-bottom-left-radius: 25px;
    transition: 0.3s;
}
.learnpublishing-column p
{
    font-family: 'DaytonaPro-Regular';
    color: #444;
    font-size: 21px;
}
.learnpublishing-wrapper a
{
    text-decoration: none;
    height:100%;
}
.learnpublishing-column:hover .right-icon i
{
    color:#fff;
    background:#025e8d;
}
.learnpublishing-column .right-icon .arrowright
{
    transform: rotate(313deg);
}
section.learnpublishing-section .subheading
{
    border-color: #fff;
    margin-bottom: 25px;
}
.learnpublishing-wrapper 
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*commonbanner*/

section.commonbanner4
{
    position: relative;
    height: 422px;
    background:url('../images/banner/5.jpg') no-repeat;
    background-size: cover;
}
section.commonbanner4 .absolute-center
{
    top: 77%;
}

/*editorpublishing-section*/

section.editorpublishing-section
{
    position: relative;
}
.editors-row .subheading
{
    font-size: 23px;
    color:#444;
    border-bottom: 0px;
    margin:0px;
}
.editors-column
{
    position: relative;
    display:flex;
    flex-direction: column;
    height: 100%;
    background:#ebf1f5;
    border-bottom-left-radius: 22px;
}
.editors-column:hover
{
    transition:0.3s;
}
.editors-column:hover .right-icon i
{
    color:#fff;
    background:#013c5b;
}
.editors-body
{
    padding:20px;
}
.editors-body h4
{
    font-size: 21px;
}
.editors-body p
{
    margin-bottom: 40px;
}
.elist
{
    padding:0px;
}
.elist li
{
    display: flex;
    list-style: none;
    margin-bottom:10px;
    align-items: center;
    font-family: 'DaytonaPro-Light';
}
.elist li i
{
    margin-right:10px;
    color: #486a7e;
}

/*editorsbrands-section*/

section.editorsbrands-section .subheading
{
    border-color:#fff;
}
.editorsbrands-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    background: #fff;
}
.editorsbrands-column .m20
{
    margin:0 0 20px;
}

/*editorcources-section*/

section.editorcources-section
{
    position: relative;
}
section.editorcources-section .m20
{
    margin:0 0 20px;
}
section.editorcources-section .subheading
{
    margin: 0 0 20px 10px;
}
.editors-column
{
    position: relative;
    display:flex;
    flex-direction: column;
    height: 100%;
    background:#ebf1f5;
    border-bottom-left-radius: 22px;
}
.editors-column:hover
{
    transition:0.3s;
}
.editors-column:hover .right-icon i
{
    color:#fff;
    background:#013c5b;
}
.editors-body
{
    padding:20px;
}
.editors-body h4
{
    font-size: 21px;
}
.editors-body p
{
    margin-bottom: 23px;
}
section.editorcources-section .editors-column.editors-column2
{
    background:#025e8d;
}
section.editorcources-section .editors-column.editors-column2 h4
{
    color:#fff;
}
section.editorcources-section .editors-column.editors-column2 p
{
    color:#fff;
    margin-top: 20px;
}
section.editorcources-section .lasticon
{
    color:#fff;
    border-color:#fff;
}